<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <contexts>
    <context type="JagdeepDB.Contexts.Context, Context">
    </context>
  </contexts>
	<connectionStrings>
		<add name ="DefaultConnection" connectionString="Server=(localdb)\DbJS;Initial Catalog=LocalDB;Integrated Security=true;"/>
	</connectionStrings>
</configuration>